/*******************************************************************************
********************************************************************************
	1.0 - Load Fonts
********************************************************************************
*******************************************************************************/

@font-face {
    font-family: 'HelveticaNeueCyrThin';
    src: url('../fonts/Helvetica/HelveticaNeueCyrThin.eot');
    src: url('../fonts/Helvetica/HelveticaNeueCyrThin.eot') format('embedded-opentype'),
         url('../fonts/Helvetica/HelveticaNeueCyrThin.woff2') format('woff2'),
         url('../fonts/Helvetica/HelveticaNeueCyrThin.woff') format('woff'),
         url('../fonts/Helvetica/HelveticaNeueCyrThin.ttf') format('truetype'),
         url('../fonts/Helvetica/HelveticaNeueCyrThin.svg#HelveticaNeueCyrThin') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCyrRoman';
    src: url('../fonts/Helvetica/HelveticaNeueCyrRoman.eot');
    src: url('../fonts/Helvetica/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
         url('../fonts/Helvetica/HelveticaNeueCyrRoman.woff2') format('woff2'),
         url('../fonts/Helvetica/HelveticaNeueCyrRoman.woff') format('woff'),
         url('../fonts/Helvetica/HelveticaNeueCyrRoman.ttf') format('truetype'),
         url('../fonts/Helvetica/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCyrMedium';
    src: url('../fonts/Helvetica/HelveticaNeueCyrMedium.eot');
    src: url('../fonts/Helvetica/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
         url('../fonts/Helvetica/HelveticaNeueCyrMedium.woff2') format('woff2'),
         url('../fonts/Helvetica/HelveticaNeueCyrMedium.woff') format('woff'),
         url('../fonts/Helvetica/HelveticaNeueCyrMedium.ttf') format('truetype'),
         url('../fonts/Helvetica/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');

}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica/HelveticaNeueCyrLight.eot');
    src: url('../fonts/Helvetica/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
         url('../fonts/Helvetica/HelveticaNeueCyrLight.woff2') format('woff2'),
         url('../fonts/Helvetica/HelveticaNeueCyrLight.woff') format('woff'),
         url('../fonts/Helvetica/HelveticaNeueCyrLight.ttf') format('truetype'),
         url('../fonts/Helvetica/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg');
    font-weight: lighter;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica/HelveticaNeueCyrBold.eot');
    src: url('../fonts/Helvetica/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
         url('../fonts/Helvetica/HelveticaNeueCyrBold.woff2') format('woff2'),
         url('../fonts/Helvetica/HelveticaNeueCyrBold.woff') format('woff'),
         url('../fonts/Helvetica/HelveticaNeueCyrBold.ttf') format('truetype'),
         url('../fonts/Helvetica/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');
   font-weight: bold;      
}
@font-face {
    font-family: 'HelveticaNeueCyrBlack';
    src: url('../fonts/Helvetica/HelveticaNeueCyrBlack.eot');
    src: url('../fonts/Helvetica/HelveticaNeueCyrBlack.eot') format('embedded-opentype'),
         url('../fonts/Helvetica/HelveticaNeueCyrBlack.woff2') format('woff2'),
         url('../fonts/Helvetica/HelveticaNeueCyrBlack.woff') format('woff'),
         url('../fonts/Helvetica/HelveticaNeueCyrBlack.ttf') format('truetype'),
         url('../fonts/Helvetica/HelveticaNeueCyrBlack.svg#HelveticaNeueCyrBlack') format('svg');
}
@font-face {
    font-family: 'PFDINDISPLAYPROBOLD';
    src: url('../fonts/PfDindisplay/PFDINDISPLAYPROBOLD.eot');
    src: url('../fonts/PfDindisplay/PFDINDISPLAYPROBOLD.eot') format('embedded-opentype'),
         url('../fonts/PfDindisplay/PFDINDISPLAYPROBOLD.woff2') format('woff2'),
         url('../fonts/PfDindisplay/PFDINDISPLAYPROBOLD.woff') format('woff'),
         url('../fonts/PfDindisplay/PFDINDISPLAYPROBOLD.ttf') format('truetype'),
         url('../fonts/PfDindisplay/PFDINDISPLAYPROBOLD.svg#PFDINDISPLAYPROBOLD') format('svg');
}

@font-face {
    font-family: 'MyriadProCond';
    src: url('../fonts/MyriadPro/MyriadProBoldCond.eot');
    src: url('../fonts/MyriadPro/MyriadProBoldCond.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProBoldCond.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProBoldCond.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProBoldCond.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProBoldCond.svg#MyriadProBoldCond') format('svg');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'MyriadProCond';
    src: url('../fonts/MyriadPro/MyriadProBoldCondIt.eot');
    src: url('../fonts/MyriadPro/MyriadProBoldCondIt.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProBoldCondIt.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProBoldCondIt.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProBoldCondIt.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProBoldCondIt.svg#MyriadProBoldCondIt') format('svg');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: 'MyriadProCond';
    src: url('../fonts/MyriadPro/MyriadProCond.eot');
    src: url('../fonts/MyriadPro/MyriadProCond.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProCond.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProCond.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProCond.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProCond.svg#MyriadProCond') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MyriadProCond';
    src: url('../fonts/MyriadPro/MyriadProCondIt.eot');
    src: url('../fonts/MyriadPro/MyriadProCondIt.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProCondIt.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProCondIt.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProCondIt.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProCondIt.svg#MyriadProCondIt') format('svg');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadProBold.eot');
    src: url('../fonts/MyriadPro/MyriadProBold.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProBold.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProBold.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProBold.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProBold.svg#MyriadProBold') format('svg');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadProBoldIt.eot');
    src: url('../fonts/MyriadPro/MyriadProBoldIt.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProBoldIt.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProBoldIt.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProBoldIt.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProBoldIt.svg#MyriadProBoldIt') format('svg');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadProIt.eot');
    src: url('../fonts/MyriadPro/MyriadProIt.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProIt.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProIt.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProIt.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProIt.svg#MyriadProIt') format('svg');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadProRegular.eot');
    src: url('../fonts/MyriadPro/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProRegular.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProRegular.svg#MyriadProRegular') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/MyriadPro/MyriadProSemibold.eot');
    src: url('../fonts/MyriadPro/MyriadProSemibold.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProSemibold.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProSemibold.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProSemibold.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProSemibold.svg#MyriadProSemibold') format('svg');
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/MyriadPro/MyriadProSemiboldIt.eot');
    src: url('../fonts/MyriadPro/MyriadProSemiboldIt.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadProSemiboldIt.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadProSemiboldIt.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProSemiboldIt.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProSemiboldIt.svg#MyriadProSemiboldIt') format('svg');
    font-style: italic;
}

/**
 * 2.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: 'HelveticaNeueCyrThin';
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #ffffff;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}


/*************************************************************
**************************************************************
	3.0
**************************************************************
*************************************************************/
#page-body {
	max-width: 1170px;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}
.theme-container {
	max-width: 1170px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}
.theme-container-fluid {
	width: 100%;
}
/*************************************************************
	3.1 Шапка сайта
*************************************************************/

#home-site-title-screen {
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
#home-site-title-screen .custom-logo {
	/* width:100%; */
	margin-bottom: 102px;
}
#home-site-title-screen {
	padding-top: 128px;
	/*width:100%;*/
	text-align: center;	
	height: 618px;
	background-position: top center;
	background-repeat: no-repeat;
	margin-left: -15px;
	margin-right: -15px;
}
#home-site-title-screen H1 {
	font-family: 'HelveticaNeueCyrThin';
	font-size: 50px;
	line-height:1;
}
#home-site-title-screen H2 {
	font-family: 'HelveticaNeueCyrRoman';
	font-size: 17px;
	line-height:1;	
}
/*************************************************************
	3.2 Верхнее меню сайта
*************************************************************/
header {
	position: absolute;
	width: 100%;
	top:0px;
	left:0px;
}
header #menu-verhnee {
	padding-left: 0px;
	list-style: none;
	text-align: left;		
}
header .menu-item {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}
header .menu-item a{
	font-size: 17px;
	color: #565656;
	text-decoration: none;
	font-family: 'MyriadPro';
}
header .menu-item a:hover{
	text-decoration: underline;
}
header .menu-item.current-menu-item a{
	/*font-weight: bold;*/
	color: #010101;
}
/*************************************************************
	3.2.1 Верхнее меню для главной страницы
*************************************************************/
.home header .menu-item a{
	color: #ffffff;
}
.home header #menu-verhnee {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 22px;
	color: #fff;
}
.home header {
	background: none;
}
header .menu-item.current-menu-item a{
	color: #fff;
}




.theme-page-h2 {
	font-size: 29px;
	font-family: HelveticaNeueCyrThin;
	display: table;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: 22px;
}
.theme-page-h2:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background: #c4c4c4;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}
.theme-page-h2:after {
	content: "";
	display: block;
	position: absolute;
	width: 27px;
	height: 3px;
	background: #005aff;
	bottom: 0px;
	left: 0px;
	z-index: 2;
}
.theme-background-left-color-dddddd {
	position: relative;
}
.theme-background-left-color-dddddd:before {
	display:block !important;
	position: absolute;
	width: 200%;
	height: 100%;
	top:0px;
	right:0px;
	background: #dddddd;
}
/*************************************************************
	4 Страницы
*************************************************************/
/*************************************************************
	4.1 Главная страница
*************************************************************/
.theme-home-video-block .vc_column_container.theme-home-video-block-right > .vc_column-inner {
	padding-left: 0px;
	padding-right: 0px;
}
.theme-home-video-block {
	margin-bottom: 4.5008547008547%;
}
.theme-home-video-block-right>.vc_column-inner>.wpb_wrapper>* {
	margin-bottom: 0px;
}
.theme-home-video-block-left>.vc_column-inner>.wpb_wrapper {
	padding-top: 18.36111111111111%;
	padding-right: 17.36111111111111%;
}
.theme-home-video-block-left .vc_custom_heading {
	font-size: 14px;
	font-family: HelveticaNeueCyrRoman;
	margin-bottom: 20px;
	line-height: 1.28;
}
.theme-home-video-block-left .vc_custom_heading + .vc_custom_heading{
	font-size: 21px;
	font-family: HelveticaNeueCyrTin;
}
.theme-home-our-news-screen {
	margin-bottom: 2.73504273504274%;
}
.theme-home-our-news-screen>.wpb_column{
	background: #e9e9e9;
	padding-top: 46px;
	padding-bottom: 25px;
}
.theme-home-our-news-screen>.wpb_column:nth-of-type(2n){
	background: #dddddd;
}
.theme-home-our-news-screen>.wpb_column .vc_custom_heading {
	font-size: 20px;
	font-family: HelveticaNeueCyrTin;	
	line-height: 1.15;
	margin-bottom: 20px;
}
.theme-home-our-news-screen>.wpb_column .vc_custom_heading+.vc_custom_heading {
	color: #656565;
	font-size: 13px;
	font-family: HelveticaNeueCyrRoman;	
	line-height: 1.38;
	margin-bottom: 65px;
}
.experience-russian-screen .vc_btn3-shape-rounded.vc_btn3-style-classic,
.theme-home-our-news-screen .vc_btn3.vc_btn3-shape-rounded.vc_btn3-style-outline {
	font-size: 14px;
	line-height: 1;
	font-family: HelveticaNeueCyrRoman;	
	border-radius: 25px;
	padding: 15px 25px;
}
.theme-home-our-news-screen .vc_btn3.vc_btn3-shape-rounded.vc_btn3-style-outline {
	text-transform: uppercase;
	color: #000000;
}
.experience-russian-screen .vc_btn3-shape-rounded.vc_btn3-style-classic .vc_btn3-icon,
.theme-home-our-news-screen .vc_btn3.vc_btn3-shape-rounded.vc_btn3-style-outline .vc_btn3-icon {
    font-size: 200%;
    height: auto;
    line-height: 1;
    margin-right: -2px;
    margin-top: -1px;
}
.theme-home-our-news-screen .vc_btn3.vc_btn3-shape-rounded.vc_btn3-style-outline .vc_btn3-icon {
    color: #ff0000;
}
.experience-russian-screen,
.why-us-screen {
	margin-bottom: 2.39316239316239%;
}
.why-us-screen>.wpb_column>.vc_column-inner{
	padding-top: 18.59473684210526%;
	padding-bottom: 19.47368421052632%;
}
.why-us-screen>.wpb_column .vc_custom_heading {
	font-size: 25px;
	font-family: HelveticaNeueCyr;
	line-height: 1;	
	color: #fff;
	font-weight: lighter;
}
.why-us-screen>.wpb_column .vc_custom_heading:before{
	content: '0';
	display: block;
	background: #fff;
	color: #000;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	font-size: 29px;
	/*font-family: HelveticaNeueCyrTin;*/
	/*line-height: 1;*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.why-us-screen>.wpb_column:nth-of-type(1) .vc_custom_heading:before{
	content: '1';
}
.why-us-screen>.wpb_column:nth-of-type(2) .vc_custom_heading:before{
	content: '2';
}
.why-us-screen>.wpb_column:nth-of-type(3) .vc_custom_heading:before{
	content: '3';
}
.experience-russian-screen>.wpb_column {
	position: relative;
}
.experience-russian-screen>.wpb_column>.vc_column-inner {
	position: relative;
	z-index: 2;
}
.experience-russian-screen>.wpb_column>.vc_column-inner>.wpb_wrapper {
	height: 222px;
	padding-top: 65px;
}
.experience-russian-screen>.wpb_column:nth-of-type(1):before{
	content: '';
	display: block;
	width: 300%;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	background: #e9e9e9;
}
.experience-russian-screen>.wpb_column:nth-of-type(2) {
	background: #dddddd;
}
.experience-russian-screen>.wpb_column:nth-of-type(3):before{
	content: '';
	display: block;
	width: 300%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background: #e9e9e9;
}
.experience-russian-screen>.wpb_column .vc_custom_heading {
	font-size: 19px;
	font-family: HelveticaNeueCyr; 
	font-weight: lighter;
	margin-bottom: 18px;	
}
.experience-russian-screen>.wpb_column .vc_custom_heading b,
.experience-russian-screen>.wpb_column .vc_custom_heading strong {
	font-weight: bold;
}
.experience-russian-screen>.wpb_column:nth-of-type(1) .vc_custom_heading b{
	color: #00aeff;
}
.experience-russian-screen>.wpb_column:nth-of-type(2) .vc_custom_heading b{
	color: #0078ff;
}
.experience-russian-screen>.wpb_column:nth-of-type(3) .vc_custom_heading b{
	color: #0030ff;
}
.experience-russian-screen .vc_btn3-shape-rounded.vc_btn3-style-classic{
	font-size: 17px;
}
.experience-russian-screen>.wpb_column:nth-of-type(1) .vc_btn3-shape-rounded.vc_btn3-style-classic{
	background: #00aeff;
}
.experience-russian-screen>.wpb_column:nth-of-type(2) .vc_btn3-shape-rounded.vc_btn3-style-classic{
	background: #0078ff;
}
.experience-russian-screen>.wpb_column:nth-of-type(3) .vc_btn3-shape-rounded.vc_btn3-style-classic{
	background: #0030ff;
}
.experience-russian-screen>.wpb_column:nth-of-type(1) .vc_btn3-shape-rounded.vc_btn3-style-classic:hover{
	background: #0392d5;
}
.experience-russian-screen>.wpb_column:nth-of-type(2) .vc_btn3-shape-rounded.vc_btn3-style-classic:hover{
	background: #0760c3;
}
.experience-russian-screen>.wpb_column:nth-of-type(3) .vc_btn3-shape-rounded.vc_btn3-style-classic:hover{
	background: #0424ae;
}
